extends layout

block content
    #wrap
        h2.text-center Мы готовим самую вкусную пиццу в городе!
        //#featured-section
            #circles
                img.first(src='images/6.jpg')
                img(src='images/5.jpg')
                img(src='images/4.png')
                img(src='images/2.jpg')
            // end circles
    .container-fluid
        .row
            .col-md-12.col-lg-12
                for i in pizza
                    .products_box.bx_catalog_item.double
                        .bx_catalog_item_container0
                            .pizza_title
                                .ico.new
                                h4.show-desktop #{i.name}
                                span.price #{i.middleprice}.00 грн.
                            .product-cell
                                i.js-show-hidden_filter
                                img.first(src=i.cover)
                            .popup
                                table
                                    tbody
                                        tr
                                            td
                                                p #{i.description}
                                .hidden_filter()
                                    i
                                        button.btn.btn-success(type='button', data-toggle='modal', data-target="#"+i._id) Заказать
                    .modal.fade(tabindex='-1', role='dialog' id=i._id)
                        .modal-dialog.custom-class(role='document')
                            .modal-content
                                .modal-header
                                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                                        span(aria-hidden='true') ×
                                    h4.modal-title Заказать пиццу &nbsp #{i.name}
                                .modal-body
                                    form#orderPizza
                                        input(type="hidden" name="id" value=i._id)
                                        label(for='tel')
                                            |Телефон
                                        input.form-control(type="text" name="tel" id="tel")
                                        label(for='author')
                                            |Размер пиццы
                                        select.form-control#size(name="size")
                                            option(value="smallprice") 25 см.
                                            option(value="middleprice" selected='selected') 35 см.
                                            option(value="highprice") 50 см.
                                        select.form-control#amount(name="amount")
                                            option(value="1" selected='selected') 1 шт.
                                            option(value="2" ) 2 шт.
                                            option(value="3") 3 см.
                                            option(value="4" ) 4 шт.
                                            option(value="5" ) 5 шт.
                                            option(value="6" ) 6 шт.
                                            option(value="7" ) 7 шт.
                                            option(value="8" ) 8 шт.
                                            option(value="9" ) 9 шт.
                                            option(value="10" ) 10 шт.

                                        label(for='adress') Адрес
                                        textarea.form-control(minlength='5', maxlength='512', name="adress" required)
                                span.prices#smallprice #{i.smallprice}
                                span.prices#middleprice #{i.middleprice}
                                span.prices#highprice #{i.highprice}
                                .modal-footer.form-inline
                                    h3#price
                                    button.btn.btn-danger(type='button', data-dismiss='modal') Отмена
                                    button.btn.btn-success(type='button' onclick="$('#orderPizza').submit()") Заказать
    script.
        $("#orderPizza").on('submit', function (form) {
            $.ajax({
                method: "POST",
                url: "/orderPizza",
                data: $(this).serialize(),
                processData: false
            })
                .done(function (template) {
                    alertify.success("Изменения сохранены!")
                })
                .fail(function (error) {
                    alertify.error("Не удалось сохранить.")
                })
            form.preventDefault();
        })
        $.clearFormFields = function (area) {
            $(area).find('input[type="text"],input[type="email"],textarea,select').val('');
        };
        $('.modal').on('hidden', function () {
            $.clearFormFields(this)
        });
        /*
        $('.modal').on('hidden.bs.modal', function () {
            $(this).find('form')[0].reset();
        });*/
        console.log($("#size"));
        $("#size")
                .change(function () {
                    var str = "";
                    var smallprice = parseInt($("#smallprice").text());
                    var middleprice = parseInt($("#middleprice").text());
                    var highprice = parseInt($("#highprice").text());
                    $("#size option:selected").each(function () {
                        if (this.innerHTML == "25 см.") {
                            str = parseInt(smallprice);
                        }
                        else if (this.innerHTML == "35 см.") {
                            str = parseInt(middleprice);
                        }
                        else {
                            str = parseInt(highprice);
                        }
                        console.log(str)
                        $("#price").text(str);
                    });
                    $("#amount")
                        .change(function () {
                            $("#amount option:selected").each(function () {
                                var amount = this.innerHTML.split(' ');
                                var number = amount[0];
                                $("#size option:selected").each(function () {
                                    if (this.innerHTML == "25 см.") {
                                        str = parseInt(smallprice)*parseInt(number);
                                    }
                                    else if (this.innerHTML == "35 см.") {
                                        str =  parseInt(middleprice)*parseInt(number);
                                    }
                                    else {
                                        str = parseInt(highprice) * parseInt(number);;
                                    }
                                    console.log(str)
                                });
                                $("#price").text(str);
                            })
                        })


                })
