extends layout

block content
    #wrap
        h2.text-center Мы готовим самую вкусную пиццу в городе!
        //#featured-section
            #circles
                img.first(src='images/6.jpg')
                img(src='images/5.jpg')
                img(src='images/4.png')
                img(src='images/2.jpg')
            // end circles
    .container-fluid
        .row
            .col-md-12.col-lg-12
                for i in pizza
                    .products_box.bx_catalog_item.double
                        .bx_catalog_item_container0
                            .pizza_title
                                .ico.new
                                h4.show-desktop #{i.name}
                                span.price #{i.middleprice}.00 грн.
                            .product-cell
                                i.js-show-hidden_filter
                                img.first(src=i.cover)
                            .popup
                                table
                                    tbody
                                        tr
                                            td
                                                p #{i.description}
                                .hidden_filter()
                                    i
                                        button.btn.btn-success.purchase(data-toggle='modal',  type='button', data-target="#"+i._id data-id=i._id  data-smallprice=i.smallprice data-middleprice=i.middleprice data-highprice=i.highprice ) Заказать
                    .modal.fade(tabindex='-1', role='dialog' id="mod")
                        .modal-dialog.custom-class(role='document')
                            .modal-content
                                .modal-header
                                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                                        span(aria-hidden='true') ×
                                    h4.modal-title Заказать пиццу &nbsp #{i.name}
                                .modal-body
                                    form#orderPizza
                                        input(type="hidden" name="id" value=i._id)
                                        label(for='tel')
                                            |Телефон
                                        input.form-control(type="text" name="tel" id="tel")
                                        label(for='author')
                                            |Размер пиццы
                                        select.form-control.sizes(name="size" autocomplete="off" id="size")
                                            option(value="smallprice") 25 см.
                                            option(value="middleprice" selected='selected') 35 см.
                                            option(value="highprice") 50 см.
                                        select.form-control.amounts(name="amount" id="amount")
                                            option(value="1" selected='selected' autocomplete="off") 1 шт.
                                            option(value="2" ) 2 шт.
                                            option(value="3" ) 3 см.
                                            option(value="4" ) 4 шт.
                                            option(value="5" ) 5 шт.
                                            option(value="6" ) 6 шт.
                                            option(value="7" ) 7 шт.
                                            option(value="8" ) 8 шт.
                                            option(value="9" ) 9 шт.
                                            option(value="10") 10 шт.

                                        label(for='adress') Адрес
                                        textarea.form-control(minlength='5', maxlength='512', name="adress" required)
                                span.prices#smallprice #{i.smallprice}
                                span.prices#middleprice #{i.middleprice}
                                span.prices#highprice #{i.highprice}
                                .modal-footer.form-inline
                                    h3#price #{i.middleprice}
                                    button.btn.btn-danger(type='button', data-dismiss='modal') Отмена
                                    button.btn.btn-success(type='button' onclick="$('#orderPizza').submit()") Заказать
    script.
        $("#orderPizza").on('submit', function (form) {
            $.ajax({
                method: "POST",
                url: "/orderPizza",
                data: $(this).serialize(),
                processData: false
            })
                .done(function (template) {
                    alertify.success("Изменения сохранены!")
                })
                .fail(function (error) {
                    alertify.error("Не удалось сохранить.")
                })
                .always(function () {
                   $(".modal").modal("hide");
                });
            form.preventDefault();
        })
        $.clearFormFields = function (area) {
            $(area).find('input[type="text"],input[type="email"],textarea,select').val('');
        };
        $('.modal').on('hidden', function () {
            $.clearFormFields(this)
        });
        /*
        $('.modal').on('hidden.bs.modal', function () {
            $(this).find('form')[0].reset();
        });*/
        $(".purchase").on("click", function (e) {
            console.log($(e.target).data("smallprice"));
            var smallprice = $(e.target).data("smallprice");
            var middleprice = $(e.target).data("middleprice");
            var highprice = $(e.target).data("highprice");
            var id = $(e.target).data("id");
            $(".sizes option:eq(0)").val(smallprice)
            $(".sizes option:eq(1)").val(middleprice)
            $(".sizes option:eq(2)").val(highprice)
            $('#mod').modal('toggle')
            $(".amounts option:eq(0)").val(1)
            $(".amounts option:eq(1)").val(2)
            $(".amounts option:eq(2)").val(3)
            $(".amounts option:eq(3)").val(4)
            $(".amounts option:eq(4)").val(5)
            $(".amounts option:eq(5)").val(6)
            $(".amounts option:eq(6)").val(7)
            $(".amounts option:eq(7)").val(8)
            $(".amounts option:eq(8)").val(9)
            $(".amounts option:eq(9)").val(10)

        })
        $("#size")
                .change(function (e) {
                    var size = $(e.target).val();
                    $("#amount").val(1);
                    var str = size;
                    $("#amount")
                            .change(function (f) {
                                $("#amount option:selected").each(function () {
                                    var amount = $(f.target).val();
                                    str = size * amount;
                                    $("#price").text(str);
                                    return;
                                })
                            })

                    $("#price").text(str);
                });
        $('.modal').on('hidden.bs.modal', function () {
            $("#amount").val(1);
            $("#size").val("middleprice");
        })
