extends layout

block content
    #wrap
        h2.text-center Мы готовим самую вкусную пиццу в городе!
        //#featured-section
            #circles
                img.first(src='images/6.jpg')
                img(src='images/5.jpg')
                img(src='images/4.png')
                img(src='images/2.jpg')
            // end circles
    .container-fluid
        .row
            .col-md-12.col-lg-12
                for i in pizza
                    .products_box.bx_catalog_item.double
                        .bx_catalog_item_container0
                            .pizza_title
                                .ico.new
                                h4.show-desktop #{i.name}
                                span.price #{i.price}.00 грн.
                            .product-cell
                                i.js-show-hidden_filter
                                img.first(src=i.cover)
                            .popup
                                table
                                    tbody
                                        tr
                                            td
                                                p #{i.description}
                                .hidden_filter()
                                    i
                                        button.btn.btn-success(type='button', data-toggle='modal', data-target="#"+i._id) Заказать
                    .modal.fade(tabindex='-1', role='dialog' id=i._id)
                        .modal-dialog.custom-class(role='document')
                            .modal-content
                                .modal-header
                                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                                        span(aria-hidden='true') ×
                                    h4.modal-title Заказать пиццу &nbsp #{i.name}
                                .modal-body
                                    form#orderPizza
                                        input(type="hidden" name="id" value=i._id)
                                        label(for='tel')
                                            |Телефон
                                        input.form-control(type="text" name="tel" id="tel")
                                        label(for='author')
                                            |Размер пиццы
                                        select.form-control(name="size")
                                            option(value="smallSize") 25 см.
                                            option(value="middleSize" selected='selected') 35 см.
                                            option(value="highSize") 50 см.
                                        label(for='adress') Адрес
                                        textarea.form-control(minlength='5', maxlength='512', required='' name="adress")

                                .modal-footer.form-inline
                                    button.btn.btn-danger(type='button', data-dismiss='modal') Отмена
                                    button.btn.btn-success(type='button' onclick="$('#orderPizza').submit()") Заказать
    script.
        $("#orderPizza").on('submit', function (form) {
            $.ajax({
                method: "POST",
                url: "/orderPizza",
                data: $(this).serialize(),
                processData: false
            })
                .done(function (template) {
                    alertify.success("Изменения сохранены!")
                })
                .fail(function (error) {
                    alertify.error("Не удалось сохранить.")
                })
            form.preventDefault();
        })